<main class="main">
    <section id="main" class="main">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="row mt-2 mb-2 m-2 mx-2">
                    <h5>Filtrar productos por categorias.</h5>

                    <div class="row g-0">
                        <div class="col-auto">
                            <label for="nroDeProductos" class="col-form-label">Mostrar: </label>
                        </div>
                        <div class="col-auto">
                            <select name="nroDeProductos" id="nroDeProductos" class="form-select">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="nroDeProductos" class="col-form-label"> productos</label>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-auto">
                            <select id="cboCategoria" class="form-select" aria-label="Default select example">
                            </select>
                        </div>
                        <div class="col-auto">
                            <button id="btnAplicarFiltros" class="btn btn-outline-primary btn-block">
                                <i class="fas fa-filter"></i>Aplicar Filtro
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div id="ContenedorDeProductos" class="col-lg-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" height="100" width="100" alt="Alternate Text" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card with an image on left</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--PAGINACIÓN-->
        <div class="row">
            <button id="btnSiguiente">Siguiente</button>
            <button id="btnAnterior">Anterior</button>
        </div>
    </section>
</main>
@section scripts
{
    <script>

        var controladorPagina;
        $(document).ready(function () {
            // CARGAR METODOS
            controladorPagina = 1;
            mostrarCategorias()
            MostrarProductos(0, 10, controladorPagina);
        });
        //NAVEGAR POR LAS PAGINAS
        $("#btnSiguiente").click(function (jsonSiguiente) {
            var porPag = document.getElementById("nroDeProductos").value;
            controladorPagina = controladorPagina + 1;
            var select = document.getElementById("cboCategoria");
            var categoriaSeleccionadaId = select.options[select.selectedIndex].value;
            console.log(controladorPagina);
            MostrarProductos(categoriaSeleccionadaId, porPag, controladorPagina);
        });
        $("#btnAnterior").click(function (jsonAnterior) {
            var porPag = document.getElementById("nroDeProductos").value;
            if (controladorPagina > 1) {
                controladorPagina = controladorPagina - 1;
                var select = document.getElementById("cboCategoria");
                var categoriaSeleccionadaId = select.options[select.selectedIndex].value;
                console.log(controladorPagina);
                MostrarProductos(categoriaSeleccionadaId, porPag, controladorPagina);
            } 
        });
        //Cargar cboCategorias
        function mostrarCategorias() {
            jQuery.ajax({
                url: "@Url.Action("ListarCategorias","Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (categoria) {
                    console.log(categoria);
                    $("#cboCategoria").append('<option value="0">' + "Seleccionar" + '</option>');
                    $.each(categoria.data, function (index, categoria) {
                        $("#cboCategoria").append('<option value="' + categoria.CategoriaId + '">' + categoria.NombreCategoria + '</option>');
                    });
                }
            });
        }
        // APLICAR FILTROS
        $("#btnAplicarFiltros").click(function (jsonCategoria) {
            var select = document.getElementById("cboCategoria");
            var categoriaSeleccionadaId = select.options[select.selectedIndex].value;
            console.log(categoriaSeleccionadaId);
            debugger;
            var porPag = document.getElementById("nroDeProductos").value;
            console.log(porPag);
            debugger;
            MostrarProductos(categoriaSeleccionadaId,porPag,1);
        });
        //AGREGAR AL CARRITO
        $(document).on("click", "button.AgregarAlCarrito", function () {
            var ID = $(this).data('productoid');
            console.log(ID);
            debugger;
            $.ajax({
                url: "@Url.Action("AgregarJson", "Carrito")",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ ProductoId: ID }),
                contentType: "application/json; chartset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        alert("Agregado al Carrito!");
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
        // MOSTRAR LOS PRODUCTOS
         function MostrarProductos(CategoriaSeleccionadaId,CantidadDeProductos,PaginaActual) {
            jQuery.ajax({
                url: "@Url.Action("ListarProductos","Tienda")",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ CategoriaId: CategoriaSeleccionadaId,porPag:CantidadDeProductos,pag:PaginaActual }),
                contentType: "application/json; chartset=utf-8",
                success: function (response) {
                    $("#ContenedorDeProductos").html("");
                    $("#ContenedorDeProductos").LoadingOverlay("hide");
                    console.log(response);
                    $.each(response.Items, function (index, elemento) {
                        console.log(elemento);
                        $("<div>").addClass("row").append(
                            $("<div>").addClass("col-lg-12").append(
                                $("<div>").addClass("card mb-3 ").append(
                                    $("<div>").addClass("row g-0 ").append(
                                        $("<div>").addClass("col-auto").append(
                                            $("<img>").addClass("img-fluid rounded-start m-1 mt-1").height(120).width(120).attr({ "src": "data:image/jpeg;base64," + elemento.Imagen }),
                                        ),
                                        $("<div>").addClass("col-auto ").append(
                                            $("<div>").addClass("card-body").append(
                                                $("<h5>").addClass("card-title ").text(elemento.NombreProducto),
                                                "$ " + elemento.PrecioUnitario.toFixed(2)
                                            )
                                        ),
                                        $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                            $("<div>").addClass("row").append(
                                                $("<div>").addClass("col-auto").append(
                                                    $("<div>").addClass("col-auto").append(
                                                        $("<a>").addClass("btn btn-outline-secondary btn-block mt-auto").attr({ "href": "@Url.Action("DetalleProducto","Tienda")" + "?productoId=" + elemento.ProductoId }).text("Ver Detalle")
                                                    ),
                                                    $("<div>").addClass("col-auto").append(
                                                        @if (Session["Correo"] != null) {
                                                            @: $("<button>").addClass("btn btn-success mt-auto AgregarAlCarrito").data("productoid", elemento.ProductoId).text("Agregar a Carrito"),
                                                        }
                                                    )
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                        ).appendTo("#ContenedorDeProductos");
        });
                },
        beforeSend: function () {
            $("#ContenedorDeProductos").LoadingOverlay("show");
        },
        error: function () {

        }
            });
        }
        // MOSTRAR LOS PRODUCTOS BUCK UP
        @* function MostrarProductos(CategoriaSeleccionadaId) {
            jQuery.ajax({
                url: "@Url.Action("ListarProductos","Tienda")",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ CategoriaId: CategoriaSeleccionadaId }),
                contentType: "application/json; chartset=utf-8",
                success: function (response) {
                    $("#mostrarProducto").html("");
                    $("#mostrarProducto").LoadingOverlay("hide");
                    console.log(response);
                    $.each(response.data, function (index, elemento) {
                        console.log(elemento);
                        $("<div>").addClass("row").append(
                            $("<div>").addClass("col-lg-12").append(
                                $("<div>").addClass("card mb-3 ").append(
                                    $("<div>").addClass("row g-0 ").append(
                                        $("<div>").addClass("col-auto").append(
                                            $("<img>").addClass("img-fluid rounded-start m-1 mt-1").height(120).width(120).attr({ "src": "data:image/jpeg;base64," + elemento.Imagen }),
                                        ),
                                        $("<div>").addClass("col-auto ").append(
                                            $("<div>").addClass("card-body").append(
                                                $("<h5>").addClass("card-title ").text(elemento.NombreProducto),
                                                "$ " + elemento.PrecioUnitario.toFixed(2)
                                            )
                                        ),
                                        $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                            $("<div>").addClass("row").append(
                                                $("<div>").addClass("col-auto").append(
                                                    $("<div>").addClass("col-auto").append(
                                                        $("<a>").addClass("btn btn-outline-secondary btn-block mt-auto").attr({ "href": "@Url.Action("DetalleProducto","Tienda")" + "?productoId=" + elemento.ProductoId }).text("Ver Detalle")
                                                    ),
                                                    $("<div>").addClass("col-auto").append(
                                                        @if (Session["Correo"] != null) {
                            @: $("<button>").addClass("btn btn-success mt-auto AgregarAlCarrito").data("productoid", elemento.ProductoId).text("Agregar a Carrito"),
                                                        }
                                                    )
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                        ).appendTo("#mostrarProducto");
        });
                },
        beforeSend: function () {
            $("#mostrarProducto").LoadingOverlay("show");
        },
        error: function () {

        }
            });
        }*@

    </script>
}

