@{ ViewBag.Title = "Index";}
<div>
    <main id="main" class="main">
        <div class="card mt-3">
            <div class="card-body">
                @*<a href="" class="btn btn-primary btn-lgs mt-3 bi-plus-lg"> Nuevo Producto</a>*@
                <button type="button" class="btn btn-primary btn-lgs mt-3 bi-plus-lg" onclick="abrirModal()">Nuevo Producto</button>
            </div>
        </div>
        <div class="pagetitle">
            <h1>Listado de productos</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item">Productos</li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <div class="card">
            <div class="card-body mt-3">
                <!-- Table -->
                <table id="tabla" class="table display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Latin</th>
                            <th>Proveedor</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Pedido</th>
                            <th>Reposición</th>
                            <th>Suspendido</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<!-- Inicio del modal -->
<div class="modal fade modal-xl" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtProductoId" value="0" />
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label for="txtNombreProducto" class="form-label">Nombre del Producto</label>
                                <input type="text" class="form-control" id="txtNombreProducto" placeholder="Ingrese el nombre">
                            </div>

                            <div class="col-sm-auto">
                                <label for="txtNombreLatin" class="form-label">Nombre en Latín</label>
                                <input type="text" class="form-control" id="txtNombreLatin" placeholder="Ingrese el nombre en latín">
                            </div>
                        </div>
                        <div class="row">
                            <div class="row mt-3">
                                <div class="col-sm-auto">
                                    <label for="cboProveedor" class="form-label">Proveedor</label>
                                    <select id="cboProveedor" class="form-select" aria-label="Default select example">
                                    </select>
                                </div>
                                <div class="col-sm-auto">
                                    <label for="cboCategoria" class="form-label">Categoria</label>
                                    <select id="cboCategoria" class="form-select" aria-label="Default select example">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-auto">
                                <label for="txtPrecioUnitario" class="form-label">Precio Unitario</label>
                                <input type="text" class="form-control" id="txtPrecioUnitario" placeholder="00,00$">
                            </div>
                            <div class="col-sm-auto">
                                <label for="txtStock" class="form-label">Stock</label>
                                <input type="text" class="form-control" id="txtStock" placeholder="Ingrese el Stock">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-auto">
                                <label for="txtLVLReposicion" class="form-label">Reposición</label>
                                <input type="text" class="form-control" id="txtLVLReposicion" placeholder="Unidades en el almacén">
                            </div>
                            <div class="col-sm-auto">
                                <label for="txtUnidadesPedidas" class="form-label">Pedido</label>
                                <input type="text" class="form-control" id="txtUnidadesPedidas" placeholder="Unidades Pedidas">
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-auto">
                                <label for="cboSuspendido" class="form-label">Suspendido</label>
                                <select id="cboSuspendido" class="form-select" aria-label="Default select example">
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--FRM IMAGEN-->
                    <div class="col-4" id="ContenedorImagen">
                        <img id="fotoProducto" width="300" height="300" src="..." />
                        <form class="col-auto mt-4" id="frmImagen" method="post" enctype="multipart/form-data">
                            <input type="file" id="imagen" name="imagen" accept=".jpg,.png,.jpeg" />
                            @*<button type="submit" id="btnSubir">Subir</button>*@
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarProducto()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var tabla;
        var filaSeleccionada;

        $(document).ready(function() {
            cargarTabla();
            cargarCboCategorias();
            cargarCboProveedores();
            // VARIABLES
            const archivo = document.querySelector("#imagen");
            const fotoDelProducto = document.querySelector("#fotoProducto");
            $("#tabla tbody").on("click", '.btn-editar',
                function () {
                    //filaSeleccionada = $(this).closest("tr");
                    filaSeleccionada = $(this).slideUp("tr");
                    var datos = tabla.row(filaSeleccionada).data();
                    abrirModal(datos);

                });
            $("#tabla tbody").on("click", ".btn-borrar",
                function () {
                    //var productoABorrar = $(this).closest("tr");
                    var productoABorrar = $(this).slideUp("tr");
                    var datosProducto = tabla.row(productoABorrar).data();

                    console.log(datosProducto);
                    debugger;
                    swal({
                        title: "¿Estas seguro?",
                        text: "¿Quieres eliminar este registro?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "SI",
                        cancelButtonText: "NO",
                        closeOnConfirm: false
                    },
                        function () {
                            jQuery.ajax({
                                url: "@Url.Action("Eliminar","Producto")",
                                type: "POST",
                                data: JSON.stringify({ id: datosProducto.ProductoId }),
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    if (data.resultado) {
                                        tabla.row(productoABorrar).remove().draw();
                                        swal("Borrado", "registro Eliminado!", "success");
                                    } else {
                                        swal("No se ha podido eliminar", data.mensaje, "error");
                                    }
                                },
                                error: function (error) { console.log(error); },
                                beforeSend: function () { }
                            });
                        }
                    );

                });
            //GUARDAR LA IMAGEN
            archivo.addEventListener('change', function () {
                const archivoSeleccionado = this.files[0];
                if (archivoSeleccionado) {
                    const lectorDeArchivos = new FileReader();
                    lectorDeArchivos.addEventListener('load', function () {
                        fotoDelProducto.setAttribute('src', lectorDeArchivos.result);
                    });
                    lectorDeArchivos.readAsDataURL(archivoSeleccionado);
                    console.log(archivoSeleccionado);
                }
            });
        });
        //CARGARA DATOS A LA TABLA
        function cargarTabla() {
                tabla = $("#tabla").DataTable({
                responsive: "true",
                ordering: "false",
                "ajax": {
                    url: "@Url.Action("ListarProductos", "Producto")",
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "NombreProducto" },
                    { "data": "NombreLatin" },
                    {
                        "data": "Proveedor",
                        render: function (data) {
                        return data.NombreProveedor;
                        }
                    },
                    {
                        "data": "Categoria",
                        render: function(data) {
                            return data.NombreCategoria;
                        }
                    },
                    { "data": "PrecioUnitario" },
                    { "data": "UnidadesEnStock" },
                    { "data": "UnidadesEnPedido" },
                    { "data": "NivelDeReposicion" },
                    {
                        "data": "Suspendido",
                        render: function(valorDeActivo) {
                            if (valorDeActivo) {
                                return '<span class="badge text-bg-danger">SI</span>';
                            } else {
                                return '<span class="badge text-bg-success">NO</span>';
                            }
                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm btn-borrar" ><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }
            });
        }
        //FUNCION PARA ABRIR EL MODAL
        function abrirModal(jsonProducto) {
            $("#mensajeError").hide();
            $("#txtProductoId").val(0);
            $("#txtNombreProducto").val("");
            $("#txtNombreLatin").val("");
            $("#cboProveedor").val($("#cboProveedor option:first").val());
            $("#cboCategoria").val($("#cboCategoria option:first").val());
            $("#txtPrecioUnitario").val("");
            $("#txtStock").val("");
            $("#txtLVLReposicion").val("");
            $("#txtUnidadesPedidas").val("");
            $("#cboSuspendido").val(0);
            $("#fotoProducto").attr("src","/Content/assets/img/Muestra/Imagen_no_disponible.png");
            if (jsonProducto != null) {
                $("#txtProductoId").val(jsonProducto.ProductoId);
                $("#txtNombreProducto").val(jsonProducto.NombreProducto);
                $("#txtNombreLatin").val(jsonProducto.NombreLatin);
                $("#cboProveedor").val(jsonProducto.ProveedorId);
                $("#cboCategoria").val(jsonProducto.CategoriaId);
                $("#txtPrecioUnitario").val(jsonProducto.PrecioUnitario);
                $("#txtStock").val(jsonProducto.UnidadesEnStock);
                $("#txtLVLReposicion").val(jsonProducto.NivelDeReposicion);
                $("#txtUnidadesPedidas").val(jsonProducto.UnidadesEnPedido);
                $("#cboSuspendido").val(jsonProducto.Suspendido == true ? 1 : 0);
                if (jsonProducto.Imagen != null) {
                    CargarImagen(jsonProducto.ProductoId);
                }
            }
            $("#FormModal").modal("show");
        }
        //CARGAR IMAGEN
        function CargarImagen(productoId) {
            jQuery.ajax({
                url: "@Url.Action("getBase64", "Producto")",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ ID: productoId }),
                contentType: "application/json; chartset=utf-8",
                success: function (response) {
                    $("#fotoProducto").attr({ "src": "data:image/jpeg;base64," + response.data });
                }
            })
        }
        //CARGAR LOS COMBOS DEL MODAL
        function cargarCboCategorias() {
             jQuery.ajax({
                url: "@Url.Action("ListarCategorias","Categorias")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (categoria) {
                    console.log(categoria);
                    //debugger;
                    $("#cboCategoria").append('<option value="0">'
                        + "Seleccione" + '</option>');
                    $.each(categoria.data,
                        function (index, categoria) {
                            $("#cboCategoria").append('<option value="'
                                + categoria.CategoriaId + '">'
                                + categoria.NombreCategoria + '</option>');
                        });

                }
             });
        }
        function cargarCboProveedores() {
            jQuery.ajax({
                url: "@Url.Action("ListarProveedores","Proveedores")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (proveedor) {
                    console.log(proveedor);
                    debugger;
                    $("#cboProveedor").append('<option value="0">'
                        + "Seleccione" + '</option>');
                    $.each(proveedor.data,
                        function (index, proveedor) {
                            $("#cboProveedor").append('<option value="'
                                + proveedor.ProveedorId + '">'
                                + proveedor.NombreProveedor + '</option>');
                        });
                }
            });
        }
        //GUARDAR IMAGEN
        function GuardarImagen() {
            var formData = new FormData();
            formData.append("imagen", $("#imagen")[0].files[0]);
            debugger;
            if (formData != null) {
                $.ajax({
                    url: "@Url.Action("GuardarImagen","Producto")",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus + ': ' + errorThrown);
                    }
                });
            }
        }
        //GUARDAR PRODUCTO
        function GuardarProducto() {
            var producto = {
                ProductoId: $("#txtProductoId").val(),
                NombreProducto: $("#txtNombreProducto").val(),
                NombreLatin: $("#txtNombreLatin").val(),
                ProveedorId: $("#cboProveedor option:Selected").val(),
                Proveedor: {
                    ProveedorId: $("#cboProveedor option:Selected").val(),
                    NombreProveedor: $("#cboProveedor option:Selected").text(),
                },
                CategoriaId: $("#cboCategoria option:Selected").val(),
                Categoria: {
                    CategoriaId: $("#cboCategoria option:Selected").val(),
                    NombreCategoria: $("#cboCategoria option:Selected").text(),
                },
                PrecioUnitario: $("#txtPrecioUnitario").val(),
                UnidadesEnStock: $("#txtStock").val(),
                UnidadesEnPedido: $("#txtUnidadesPedidas").val(),
                NivelDeReposicion: $("#txtLVLReposicion").val(),
                Suspendido: $("#cboSuspendido").val() == 1 ? true : false,
                Imagen:$("#imagen").val()
            };
            console.log(producto);
            debugger;
            var request = new FormData();
            request.append("objeto", JSON.stringify(producto));
            jQuery.ajax({
                url: "@Url.Action("Guardar","Producto")",
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {
                    GuardarImagen();
                    $(".modal-body").LoadingOverlay("hide");

                    if (producto.ProductoId == 0) {
                        debugger;
                        if (data.resultado != 0) {
                            producto.ProductoId = data.resultado;
                            tabla.row.add(producto).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        if (data.resultado != 0) {
                            tabla.row(filaSeleccionada).data(producto).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) { },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactory: 2,
                        text: "Guardando...",
                        size: 14
                    });
                }
            });
        }



    </script>
}


