@model Jardines2022.Web.Models.Ciudad.CiudadListVm

<main id="main" class="main">
    <h3>Estas seguro de eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(model=>model.CiudadId)

            <dt>
                @Html.DisplayNameFor(model => model.NombreCiudad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreCiudad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pais)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group mt-3">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success" })
                </div>
            </div>
        }
    </div>
</main>
