@using System.Linq
@using Jardines2022.Web.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<Jardines2022.Entidades.Dtos.CiudadListDto>
@*@model List<Jardines2022.Web.Models.Ciudad.CiudadListVm>*@

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList itemsPerPageList = DefaultValues.ItemsPerPageList; }

<h2>Index</h2>

<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Create","Ciudad")" class="btn btn-primary btn-lgs mt-3 bi-plus-lg">Nueva Ciudad</a>
        </div>
    </div>
    <div class="pagetitle">
        <h1>Listado de ciudades</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li class="breadcrumb-item">Ubicaiones</li>
                <li class="breadcrumb-item active">Ciudades</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mt-3 m-3">
                @using (Html.BeginForm("Index", "Ciudad", FormMethod.Post))
                {
    <label>Items por pág.:</label>
                    @Html.DropDownList("pageSize", DefaultValues.ItemsPerPageList, new { @id = "pageSize", onchage = "this.form.submit();" })}
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreCiudad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Pais)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CiudadId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.CiudadId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
                </tbody>
            </table>
            <div class="m-5">
                Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de: @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                                            new { page, itemsPerPage = ViewBag.CurrentItemsPerPage }))
            </div>
        </div>
    </div>
</main>
